
#horizontal ul{
    list-style-type: none;
    background-color: rgb(236, 158, 57);
    margin-bottom: 25px;
    overflow: hidden;
    padding: 35px;
}
#horizontal ul li{
    float: left;
}
#horizontal ul li a{
    color: white;
    padding: 35px;
    text-decoration: none;
    margin: 50px;
}
#horizontal ul li a:hover{
    background-color: lightpink;
}
#horizontal ul li a:active{
    background-color: hotpink;
}