#test-div{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: #06206a;
    color: white;
    margin: 200px;
    /* transform: translate(500px, 500px); */
    /* transform: rotate(85deg); */
    padding: 10px;
    /* transform: scale(2, 2); */
    /* transform: scaleX(3);
    transform: scaleY(3); */
    /* transform: skewX(30deg);
    transform: skewY(40deg); */

}
#transistion{
    width: 200px;
    height: 200px;
    background-color: red;
    transition: background 2s, border-radius 5s;
    transition-timing-function: linear;
    transition-delay: 2s; 
}
#transistion:hover{
    background-color: blueviolet;
    border-radius: 50%;
}
#engineers img{
    /* transform: scale(1); */
    filter: grayscale(100%);
    transition: 3s ease-in-out

}
#emgineers:hover img{
    filter: grayscale(0);
    /* transform: scale(1.5); */
}
#hipsters img{
    margin-left: 0px;
    transition: 3s ease-in-out;
}
#hipsters:hover img{
    margin-left: 30px;
}
#shadows img{
    filter: blur(3px);
    transition: 3s ease-in-out;
}
#shadows:hover img{
    filter: blur(0);
}
#speedsters img{
    transform: scale(1);
    transition: 3s ease-in-out;
}
#speedsters:hover img{
    transform: scale(1.3);
}




