.gallery{
    margin: 10px;
    border: 1px solid black;
    float: left;
    width: 180px;
}

.gallery:hover{
    border: 3px solid rgb(116, 198, 236);
    
    
}
.gallery img{
    width: 100%;
    height: auto;
}
.desc{
    padding: 15px;
    text-align: center;
}