.gallery{
    margin: 10px;
    border: 1px solid black;
    float: left;
    width: 180px;
}

.gallery:hover{
    border: 3px solid rgb(116, 198, 236);
    
    
}
.gallery img{
    width: 100%;
    height: auto;
}
.desc{
    padding: 15px;
    text-align: center;
}

.sprite{
    background: url(image/image\ \(2\).png);
}

.engineers{
    width: 500px;
    height: 500px;
    display: inline-block;
    background-position: 0 0;

}
.hipsters{
    width: 500px;
    height: 500px;
    display: inline-block;
    background-position: -500px 0px;

}
.shadows{
    width: 500px;
    height: 500px;
    display: inline-block;
    background-position: 0px -500px;

}
.speedsters{
    width: 500px;
    height: 500px;
    display: inline-block;
    background-position: -500px -500px;

}
[class*="ds"]{
    background-color: blue;
    color: white;
    padding: 20px;
}
[class~="ds"]{
    background-color: aqua;
    color: white;
    padding: 30px;
}
input[placeholder$="name"]{
    border: 2px solid red;
}